$colorNavBar: #14213D;
$colorPrincipal: #d8d8d8;
$colorIndex:rgb(255, 255, 255);
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

  body, html {
    height: 100%;
  }
/*NavBar*/
.navbar{
  background-color: $colorNavBar;
  .logoNavBar{
  display: flex;
  flex-flow: column wrap;
    h4{
      font-weight: bolder;
    }
    h5{
      font-weight: bolder;
    }
  }
}
/*Intro*/
.intro{
  background-color: $colorPrincipal;
  display: flex;
  flex-flow: column wrap;
  /* The image used */
  background-image: url(../assets/foto2.jpg);
  
  /* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
    align-items: center;
    padding-top: 25%;
  .h1Index{
    color: $colorIndex;
    font-size: 2rem;
    
    font-weight: 600;
    margin-bottom: 40%;

  }
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  /*NavBar movil*/
  .navbar{
    .offcanvas-header{
      background-color: $colorNavBar;
    }
    .offcanvas-body{
      background-color: $colorNavBar;
    }
  }
  /*Section 1*/
  .intro{
    background-color: $colorPrincipal;
    display: flex;
    flex-flow: column wrap;
    .h1Index{
      color: $colorIndex;
      font-size: 1.8rem;
      justify-self: center;
      align-self: center;
      margin-top: 5%;
      font-weight: 600;
      z-index: 2;
      top: 25%;}
}}

@media only screen and (min-width: 768px) and (max-width: 991px){
  /*NavBar tablet chica*/
  .navbar{
    .offcanvas-header{
      background-color: $colorNavBar;
    }
    .offcanvas-body{
      background-color: $colorNavBar;
    }
  }
  }
  @media screen and (min-width: 1022px) and (max-width: 1081px){
    .intro{
      background-color: $colorPrincipal;
      display: flex;
      flex-flow: column wrap;
    .h1Index{
      font-size: 1.7rem;
      }
    }
  }
