* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body, html {
  height: 100%;
  background-color: #182747; }

.texto {
  color: #d8d8d8; }

/*NavBar*/
.navbar {
  background-color: #14213D; }
  .navbar .logoNavBar {
    display: flex;
    flex-flow: column wrap; }
    .navbar .logoNavBar h4 {
      font-weight: bolder; }
    .navbar .logoNavBar h5 {
      font-weight: bolder; }

hr {
  color: white; }

/*Intro*/
.intro {
  background-color: #d8d8d8;
  display: flex;
  flex-flow: column wrap;
  /* The image used */
  background-image: url(../assets/foto2.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
  align-items: center;
  padding-top: 0%; }
  .intro .h1Index {
    color: white;
    font-size: 2rem;
    margin-top: 15%;
    font-weight: 600;
    margin-bottom: 35%; }

.section2 {
  background-color: #182747;
  margin-top: 1%; }
  .section2 .section2H2 {
    color: #d8d8d8;
    align-self: center;
    justify-self: center;
    margin-bottom: 1%; }
  .section2 .desarrolloWeb {
    display: grid;
    grid-template-areas: "tituloH3" "iconoPC" "tituloH5" "herramientasUl";
    grid-template-columns: 12fr;
    grid-template-rows: 2fr,2fr,2fr,6fr;
    padding: 0%; }
    .section2 .desarrolloWeb .iconoPC {
      grid-area: iconoPC;
      width: 10%;
      height: auto;
      align-self: center;
      justify-self: center; }
    .section2 .desarrolloWeb .tituloH3 {
      font-size: 2rem;
      grid-area: tituloH3;
      justify-self: center;
      align-self: center; }
    .section2 .desarrolloWeb .tituloH5 {
      grid-area: tituloH5;
      justify-self: center;
      align-self: center; }
    .section2 .desarrolloWeb .herramientasUl {
      grid-area: herramientasUl;
      justify-self: center;
      align-self: center; }

.section4 {
  margin-top: 2%;
  margin-bottom: 2%; }
  .section4 .contactoUl {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap; }
    .section4 .contactoUl .logoWpp {
      margin-top: 1%; }
      .section4 .contactoUl .logoWpp .bi-whatsapp {
        margin-right: 1%; }
    .section4 .contactoUl .logoMail .bi-envelope {
      margin-right: 1%; }
    .section4 .contactoUl .logoLi .bi-linkedin {
      margin-right: 1%; }

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /*NavBar movil*/
  .navbar .offcanvas-header {
    background-color: #14213D; }
  .navbar .offcanvas-body {
    background-color: #14213D; }
  /*Section 1*/
  .intro {
    background-color: #d8d8d8;
    display: flex;
    flex-flow: column wrap; }
    .intro .h1Index {
      color: white;
      font-size: 1.8rem;
      justify-self: center;
      align-self: center;
      margin-top: 5%;
      font-weight: 600;
      z-index: 2;
      top: 25%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*NavBar tablet chica*/
  .navbar .offcanvas-header {
    background-color: #14213D; }
  .navbar .offcanvas-body {
    background-color: #14213D; } }

@media screen and (min-width: 1022px) and (max-width: 1081px) {
  .intro {
    background-color: #d8d8d8;
    display: flex;
    flex-flow: column wrap; }
    .intro .h1Index {
      font-size: 1.7rem; } }
