@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
$colorNavBar: #14213D;
$colorBody:#182747;
$colorSection:#182747;
$colorPrincipal: #d8d8d8;
$colorIndex:rgb(255, 255, 255);

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

  body, html {
    height: 100%;
    background-color: $colorBody;
    font-family: 'Open Sans', sans-serif;
  }
  .texto{
    color: $colorPrincipal;
  }
/*NavBar*/
.navbar{
  background-color: $colorNavBar;
  .logoNavBar{
  display: flex;
  flex-flow: column wrap;
    h4{
      font-weight: bolder;
    }
    h5{
      font-weight: bolder;
    }
  }
  .navbarUl{
    font-size: 1.2rem;
  }
}
hr{
  color: white;
}
/*Intro*/
.intro{
  background-color: $colorPrincipal;
  display: flex;
  flex-flow: column wrap;
  /* The image used */
  background-image: url(../assets/foto2.jpg);
  
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-items: center;
    align-items: center;
    padding-top: 0%;
  .h1Index{
    color: $colorIndex;
    font-size: 2rem;
    margin-top: 15%;
    font-weight: 600;
    margin-bottom: 35%;

  }
}
/*Section 2*/
.section2{
  background-color: $colorSection;
  margin-top: 1%;
  .section2H2{
    color: $colorPrincipal;
    align-self: center;
    justify-self: center;
    margin-bottom: 1%;
  }
  .desarrolloWeb{
    display: grid;
    grid-template-areas: 
    "tituloH3"
    "iconoPC"
    "tituloH5"
    "herramientasUl";
    grid-template-columns: 12fr;
    grid-template-rows: 2fr,2fr,2fr,6fr ;
    padding: 0%;
    .iconoPC{
      grid-area: iconoPC;
      width: 10%;
      height: auto;
      align-self: center;
      justify-self: center;
    }
    .tituloH3{
      font-size: 2rem;
      grid-area: tituloH3;
      justify-self: center;
      align-self: center;
    }
    .tituloH5{
      grid-area: tituloH5;
      justify-self: center;
      align-self: center;
      
    }
    .herramientasUl{
      grid-area: herramientasUl;
      justify-self: center;
      align-self: center;
    }
  }
}
/*Section 3*/
.section3{
  display: flex;
  flex-flow: column nowrap;
  .paginas{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 2%;
    .tarjeta1{
      width: 18rem;
      margin-right: 2%;
      .tituloCard{
        color: black;
        :hover{
          color: gray;
        }
      }
    }
    .tarjeta2{
      width: 18rem;
      margin-right: 2%;
      .tituloCard{
        color: black;
        :hover{
          color: gray;
        }
      }
    }
  }
}
/*Section 4*/
.section4{
  margin-top: 2%;
  margin-bottom: 2%;
  .contactoUl{
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    :hover{
      color: gray;
    }
    :active{
      color: $colorPrincipal;
    }
    .logoWpp{
     margin-top: 1%;
      .bi-whatsapp{
        margin-right: 1%;
      }
    }
    .logoMail{
      
      .bi-envelope{
        margin-right: 1%;
      }
    }
    .logoLi{
      
      .bi-linkedin{
        margin-right: 1%;
      }
    }
    .logoGithub{
      .bi-github{
        margin-right: 1%;
      }
    }
  }
}
/*Footer*/
.footerGrid{
  display: grid;
  grid-template-areas: 
  "logoFooter derechosFooter contactosFooter ";
  .logoFooter{
    grid-area: logoFooter;
    :hover{
      color: gray;
    }
    :active{
      color: $colorPrincipal;
    }
  }
  .derechosFooter{
    grid-area: derechosFooter;
  }
  .contactosFooter{
    grid-area: contactosFooter;
  }
  .nombreFooter:hover{
      color: gray;
  }
  .nombreFooter2:hover{
    color: gray;
  }
}
#botonInicio{
  position: fixed;
  bottom: 20px; 
  right: 10px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: auto; 
}

@media only screen and (min-width: 320px) and (max-width: 767px){
  /*NavBar movil*/
  .navbar{
    .offcanvas-header{
      background-color: $colorNavBar;
    }
    .offcanvas-body{
      background-color: $colorNavBar;
    }
  }
  /*Section 1*/
  .intro{
    background-color: $colorPrincipal;
    display: flex;
    flex-flow: column wrap;
    .h1Index{
      color: $colorIndex;
      font-size: 1.8rem;
      justify-self: center;
      align-self: center;
      margin-top: 15%;
      font-weight: 600;
      z-index: 2;
      top: 25%;}
  }
  /*Section 2 movil*/
  .section2{
    .desarrolloWeb{
      .tituloH3{
        margin-top: 5%;
      }
      .iconoPC{
        grid-area: iconoPC;
        width: 30%;
        height: auto;
        align-self: center;
        justify-self: center;
      }
    } 
    
  } 
  /*Section 3 movil*/
  .section3{
    display: flex;
    flex-flow: column wrap;
    .mco{
      margin-right: 0%;
      margin-bottom: 8%;
    }
    .paginas{
      display: flex;
      flex-flow: row wrap;
      align-self: center;
        justify-self: center;
        margin-top: 2%;
        margin-bottom: 2%;
        width: 15rem;
        .tarjeta1{
          width: 18rem;
          margin-right: 0%;
          margin-bottom: 5%;
          .tituloCard{
            color: black;
            :hover{
              color: gray;
            }
          }
        }
        .tarjeta2{
          width: 18rem;
          margin-right: 0%;
          .tituloCard{
            color: black;
            :hover{
              color: gray;
            }
          }
        }
    }
  }
  /*Section 4 movil*/
  .logoGithub{
    padding-top: 4%;
    .bi-github{
      margin-right: 1%;
    }
  }
  /*Footer movil*/
.footerGrid{
  display: grid;
  grid-template-areas: 
  "logoFooter" 
  "contactosFooter"
  "derechosFooter"; 
  margin-bottom: 10%;
  grid-template-columns: 12fr;
  grid-template-rows: 3,3,6;
  
  .logoFooter{
    grid-area: logoFooter;
    display: grid;
    grid-template-areas: 
    "tC"
    "wD";
    padding-left: 25%;
    .tC{
      grid-area: tC;
      padding-left: 3%;
    }
    .wD{
      grid-area: wD;
    }
  }
  .derechosFooter{
    grid-area: derechosFooter;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    padding-left: 30%;
  }
  .contactosFooter{
    grid-area: contactosFooter;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 0%;
    padding-left: 28%;
  }
}
}
/*Movil Chico*/
@media screen and (min-width:321px) and (max-width:374px){
  /*Footer movil chico*/
  .footerGrid{
    display: grid;
    grid-template-areas: 
    "logoFooter" 
    "contactosFooter"
    "derechosFooter"; 
    margin-bottom: 10%;
    grid-template-columns: 12fr;
    grid-template-rows: 3,3,6;
    
    .logoFooter{
      grid-area: logoFooter;
      display: grid;
      grid-template-areas: 
      "tC"
      "wD";
      padding-left: 20%;
      .tC{
        grid-area: tC;
        padding-left: 3%;
      }
      .wD{
        grid-area: wD;
      }
    }
    .derechosFooter{
      grid-area: derechosFooter;
      margin-top: 5%;
      margin-bottom: 5%;
      padding-left: 28%;
    }
    .contactosFooter{
      grid-area: contactosFooter;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 0%;
      padding-left: 25%;
    }
  }
  
  }
@media only screen and (min-width: 768px) and (max-width: 991px){
  /*NavBar tablet chica*/
  .navbar{
    .offcanvas-header{
      background-color: $colorNavBar;
    }
    .offcanvas-body{
      background-color: $colorNavBar;
    }
  }
  /*Section 2 tablet*/
  .section2{
    .desarrolloWeb{
      .tituloH3{
        margin-top: 2%;
      }
      .iconoPC{
        grid-area: iconoPC;
        width: 20%;
        height: auto;
        align-self: center;
        justify-self: center;
      }
    } 
    
  } 
  }
  @media screen and (min-width: 1022px) and (max-width: 1081px){
    .intro{
      background-color: $colorPrincipal;
      display: flex;
      flex-flow: column wrap;
    .h1Index{
      font-size: 1.7rem;
      }
    }
  }
